<div class="container mt-3">
  <h2>Lista de Pessoas</h2>

  <div *ngIf="loading" class="alert alert-info">Carregando...</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <table class="table table-bordered table-striped mt-3" *ngIf="people.length > 0">
    <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.nome }}</td>
      <td>{{ person.documento }}</td>
      <td>{{ person.telefone }}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && people.length === 0" class="alert alert-warning mt-3">
    Nenhuma pessoa cadastrada.
  </div>
</div>
