<div class="container">
  <h2>Novo Check-in</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="personId" class="form-label">Pessoa</label>
      <select id="personId" class="form-control" [(ngModel)]="checkin.person.id" name="personId" required>
        <option *ngFor="let person of people" [value]="person.id">{{ person.nome }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="dataEntrada" class="form-label">Data/Hora de Entrada</label>
      <input type="datetime-local" id="dataEntrada" class="form-control" [(ngModel)]="checkin.dataEntrada" name="dataEntrada" required>
    </div>
    <div class="mb-3">
      <label for="dataSaida" class="form-label">Data/Hora de Saída</label>
      <input type="datetime-local" id="dataSaida" class="form-control" [(ngModel)]="checkin.dataSaida" name="dataSaida">
    </div>
    <div class="form-check">
      <label class="form-check-label" for="adicionalVeiculo">Possui veículo</label>
      <input class="form-check-input" type="checkbox" id="adicionalVeiculo" [(ngModel)]="checkin.adicionalVeiculo" name="adicionalVeiculo">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
  </form>
</div>
