.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

h2 {
  background-color: #acacac;
  color: #000000;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.form-control {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #24ba28;
  border-color: #24ba28;
  color: white;
  padding: 4px;
  width: 30%;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #3fcf77;
}

.alert {
  text-align: center;
  font-weight: bold;
}
